.cartPopupBrand{
    font-family: 'Raleway', sans-serif;
}

.circleShadowCartPop{
    background-image: url('../Images/Backgrounds/grey.png');
    background-size: 18px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-repeat: no-repeat;
}

.addCard{
    grid-template-columns: 45% 55%;
    background-color:  hsl(0, 0%, 97%);
    margin: 2px 2px 2px 2px;
   
}
.innerPopupCart{
    height:35vh;
    overflow: scroll;
}
.popUpCart{
    width: 70vw;
    height:50vh;
}

.popUpItemDeleteBtn{
    background-color:rgba(253,210,97,255);
}

.closePopUpCard{
    position: absolute;
  right: 5px;
  bottom: 5px;
}

.gotocartBtn{
    background-color:hsl(0, 0%, 97%);
}

@media only screen and (min-width:768px){
    .popUpCart{
        width: 30vw;
    }

    .addCard{
        margin: 5px 5px 5px 5px;
    }
}

@media only screen and (min-width:1024px){
    .popUpCart{
        margin-right: 2vw;
        width: 22vw;
    }

    .addCard{
        margin: 5px 5px 5px 5px;
    }
}