.wholeHomepage{
   margin:10px;
}

.homepagePictures{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.leftMidPicture{
    background-color: burlywood;
}

.rightMidPicture{
    background-color: darksalmon;
}

.homepageBottomBanner{
    background-color: skyblue;
}


.homepageText{
    background-color: cadetblue;
}

.slider:ruler{
display: none;
}

/* Subscription Banner */
.background{
    width: 80%; height: 100%;
    margin-left: 6rem;
}
.present{
    width: 37%; height: 35%;  position: relative; right: 90%;
    margin-top:11%;
}

.subscriptionColouredText{
    width:55%;
    left: 30%;
    bottom:18%;
    font-size:2.5vw;
    font-family: 'Caprasimo', cursive;
}

.subscribeBtn{
    width: 60%;
    margin-right:25%;
    margin-top: 2%;
}
/*/////////////////////////// */

/* Top Picks */
.topPickImage{
    width: 50%;
    height: auto;
}

.topPickProductType{
    color:rgba(253,210,97,255);
    font-weight: bold;
}

.topPickBrand, .topPickName{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.topPickText{
    overflow-wrap: break-word
}
.basketTopPicks:hover{
    color:rgba(253,210,97,255);
}

.redHeart{
    fill:red;
}

.topPicksSeeBtn{
    background-color:rgba(253,210,97,255) ;
    font-family: 'Krona One';
}

.circleShadow{
    background-image: url('../Images/Backgrounds/grey.png');
    background-size: 22px;
    padding-bottom: 2px;
    padding-left: 15px;
    background-repeat: no-repeat;
}


/* //////////////////////////// */

@media only screen and (min-width: 410px){
    .subscriptionColouredText{
        width:55%;
        left: 27%;
        bottom:22%;
        font-size:2.7vw;
    }    

    .formSubscription{
        margin-left: 20%;
    }
}

@media only screen and (min-width: 550px){
    .presentBackground{
        margin-left:7rem;
    }

    .present{
        width: 30%; height: 30%;  position: relative; right: 90%;
        margin-top:11%;
    }
}

@media only screen and (min-width:760px){
    .subscriptionColouredText{
        width:50%;
        left: 26%;
        bottom:22%;
        font-size:2.7vw;
    }    
    
}

@media only screen and (min-width: 1024px){
    .background{
        width: 65%;
    }

    .present{
        right: 77%;
        margin-top:5%;
    }

    .subscriptionColouredText{
        width: 44%;
        left: 28%;
        bottom: 10%;
    }

    .subscribeBtn{
        margin-top: 2%;
    }

}

@media only screen and (min-width: 1192px){
    .presentBackground{
        justify-content: normal;
    }
    .subscriptionColouredText{
        width: 49%;
        left: 24%;
        bottom: 10%;
    }

    .formSubscription{
       margin-top: 3%;
    }

}


@media only screen and (min-width: 1330px){
    .presentBackground{
        justify-content: normal;
    }

    .subscribeBtn{
        width: 70%;
        margin-top: 2%;
        margin-right: 20%;
    }

    .subscriptionColouredText{
        width: 49%;
        left: 23%;
        bottom: 10%;
    }
}

