

.jumbotron{
    font-family: 'Krona One';
    background-color: #f8f8f8;
    font-size: 5vw;

}

.footerSection{
    background-color: black;
    color: white;
}

.footerSubtitles{
    font-family: 'Krona One';
    padding-top: 2vw;
}

.footerSubtitles li{
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
}


.footerLogo{
    font-family: 'Caprasimo', cursive;
}

.copywrite{
    text-align: center;
    background-color: black;
    color:white;
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif
}

@media only screen and (min-width: 768px){
    .footerSubtitles li{
        font-size: 12px;
    }

    .jumbotron{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1024px){
    .jumbotron{
        font-size: 1.8vw;
    }
}
