
.colourItem{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background-color: black;
}

.routeTaken{
    width: 100%;
    background: linear-gradient(
    #f8f8f8,white)
    /* #f8f8f8 50%
    #f8f8f8 100%); */
}

.productPageType{
        color: rgba(253, 210, 97, 255);
        font-weight: bold;
}

.productPageNameBrand{
    font-weight:600;
    font-size: 5vw;
}

.productPageDescriptionTitle{
    font-weight:bold;
    font-size: 4vw;
}

.productPageDescription{
    height: 30vh;
    overflow: auto;
    font-weight:normal;
    font-size: 4vw;
}

.productPageCard{
    margin: 10px;
}

.priceShadow{
    /* background-color: rgba(253, 210, 97, 255); */
    background-color:#b8b4b4;
    z-index: -1;
    height: 8vw;
    width: 8vw;
    right: 88vw;

}

.productPrice{
    font-size: 5vw;
}

.addBasketProductPage{
    background-color: rgba(253, 210, 97, 255);
    font-family: 'Krona One';
}

.heartIconCaption{
    color: #b8b4b4;
    margin-top: 0.55vh;
    font-size: 3vw;
}

.hoverColour{
       margin-top: 10vh;
    font-size: 2.5vw;
}

.colourList{
    width: 45vw;
    height: 30vh;
    overflow-y: auto;
}

.routeProductPage{
    font:2vw;
}

.navigationHeader{
    font-size:4vw;
    font-weight: 600;
}

.routeProductPage li{
    color: #b8b4b4;
font-size:3vw;}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
@media only screen and (min-width: 768px) {
    .priceShadow{
        height: 2.5vw;
        width: 2.5vw;
        right: 46.3vw;
    }

    .productPageNameBrand{
        font-size: 2vw;
        margin-bottom: 0.2vw;
    }
    
    .productPageDescriptionTitle{
        font-size: 1.5vw;
    }

    .productPageDescription{
        font-size:1.2vw;
        width:45vw;
        height: 30vh;
        overflow: auto;
    }

    .productPrice{
        font-size:2vw;
        margin-left: 3px;
    }

    .heartIconCaption{
        margin-top: 0.55vh;
        font-size: 1.5vw;
    }

    .productPageImg{
        object-fit: scale-down;
    }

    .hoverColour{
    font-size: 1.3vw;
    }

    .routeProductPage li{
        font-size: 1.5vw;
    }
    
    .navigationHeader{
        font-size:2vw;
    }
    

}
    
    

@media only screen and (min-width: 1024px) {

    .productPrice{
        font-size:1.5vw;
        margin-left: 3px;
    }

    .priceShadow {
        height: 2.3vw;
        width: 2.3vw;
        right: 46.5vw;
    }
     .heartIconCaption{
        margin-top: 0.65vh;
        font-size: 1vw;
    }

    .productPageImg{
        object-fit: contain;
    height: 50vh;
    margin-top: 15vh;
    }

    .productPageDescription{
        font-size:1.2vw;
        width:45vw;
        height: 30vh;
        overflow: auto;
    }

    .hoverColour{
        font-size: 0.7vw;
        margin-top: 8vh;
        }

}

@media only screen and (min-width: 1200px) {
    .productPageType{
        font-size: 1.4vw;
    }

    .productPrice{
        font-size:1.3vw;
        margin-left: 3px;
    }

    .priceShadow {
        height: 2.1vw;
        width: 2.1vw;
        right: 46.4vw;
    }

    .routeProductPage li{
        font-size: 1vw;
    }
    
    .navigationHeader{
        font-size:1.2vw;
    }

    .productPageDescription{
        font-size:1vw;
    }
   
    .productPinkBanner{
        padding-bottom:5px;
    }
}