* {
    overflow-x: none;
}

.paginationBtns {
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBtns a {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.paginationBtns a:hover {
    color: red;
}

.paginationActive a {
    border-color: green;
}

.productText {
    overflow-wrap: break-word
}

.productImg {
    width: 70%;
    aspect-ratio: 2/3;
}



.sliderContainer {
    grid-template-columns: 1fr 4fr 1fr;
}

.slider {
    margin-left: 5px;
}

.productType {
    color: rgba(253, 210, 97, 255);
    font-weight: bold;
}

.productBrand,
.productName,
.productTypeButton {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.basketProduct:hover {
    color: rgba(253, 210, 97, 255);
}

.redHeart {
    fill: red;
}

.circleShadow {
    background-image: url('../Images/Backgrounds/grey.png');
    background-size: 22px;
    padding-bottom: 2px;
    padding-left: 15px;
    background-repeat: no-repeat;
}

.paginationBtns {
    margin-top: 7vh;
    font-size: 3vw;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.pageNoneDisplay {
    margin-bottom: 2rem;
}


.shopTopBanner {
    background-color: #2a4637;
    position: relative;
    height: 80px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.scrollMenu {
    overflow: auto;
    gap: 15px;
}

.productTypeButton {
    overflow: auto;
}

.productPriceShop {
    font-size: 5vw;
}

.priceSlider {
    background-color: #f8f8f8;
}

.shopBannerImg {
    position: relative;
    bottom: 10px;
    height: 100px;
    width: 100px;
}

.routeShopPage {
    font-family: 'Kanit';
}

.bar-inner-right,
.bar-inner-left {
    background-color: rgba(253, 210, 97, 255);
}

.productTypeButtons,
.searchByDropdown,
.productsSelect,
.sortSelect, .priceSorter {
    background-color: #f8f8f8;
}

.submitBtn,
.moreOptionsBtn {
    background-color: rgba(253, 210, 97, 255)
}

.productsSelect:focus,
.sortSelect:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

.rightColumSelectBanner {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centeredModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalBackground {
    width: 200px;
    height: 40vh;
}

.cancelFilterDrawerMobile{
    top:-12%;
    right:5%;
}

#Brand{
    margin-left: 20px;
}

.accordion-title{
    font-weight: 600;
}

.iconBg{
    position: absolute;
    top:-7%;
    right:10%;
    width:25px;
    background-color: black;
}

.shopTopBannerText{
    margin-top: 5px;
}

.priceFilterBtn, .priceSortLgBtn{
    background-color: rgba(253, 210, 97, 255);
}



.yellowLine{
    margin-top: 15px;
    border-top: 2px solid rgba(253, 210, 97, 255);
}

.minPriceInput, .maxPriceInput, .maxPriceInputLabel, .minPriceInputLabel, .priceSortLgBtn{
    font-size: 1.8vh;
}


@media only screen and (min-width: 350px) {
    .productPriceShop {
        font-size: 16px;
    }
}

@media only screen and (min-width: 375px) {
    .shopTopBannerText{
        margin-top: 15px;
    }
}

@media only screen and (min-width: 425px) {
    .shopTopBanner {
        margin-left: 20px;
        margin-right: 20px;
    }

    .shopTopBannerText {
        margin-left: 30px;
        margin-top: 5px;
        margin-right: 20vw;
    }

    .shopBannerImg {
        right: 60px;
        height: 110px;
        width: 110px;
        bottom: 20px
    }

    /* 2 lines for searchBar  */
}

@media only screen and (min-width: 768px) {

    .searchBarScreenFull {
        width: 93%;
    }

    .shopTopBanner {
        margin-left: 40px;
        margin-right: 40px;
    }

    .shopTopBannerText {
        margin-left: 60px;
        margin-top: 20px;
        font-size: 20px;
    }

    .paginationBtns {
        font-size: 1vw;
        width: 73vw;
        justify-content: flex-start;
    }


    .paginationBtns a {
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer;
    }

    .shopColumn {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .shopBannerImg {
        right: 70px;
        bottom: 30px;
        height: 130px;
        width: 130px;
    }

    .shopTopBanner {
        height: 90px;
    }

    .slider {
        width: 100%;
    }

    .priceSlider, .priceSorter,
    .productTypeButtons {
        width: 98%;
    }

    .modalBackground{
        width: 350px;
        height:45vh;
    }

    .modalErrorText, .closeModalBtn{
        font-size: 18px;
    }

}

@media only screen and (min-width:1024px) {

    .shopTopBanner {
        margin-top: 60px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .shopTopBannerText {
        margin-left: 100px;
        font-size: 25px;
    }

    .shopBannerImg {
        bottom: 55px;
        height: 160px;
        width: 160px;
    }

    .paginationBtns {
        font-size: 1vw;
        justify-content: center;
    }

    .priceSlider,
    .productTypeButtons,
    .priceSorter {
        width: 85%;
    }

    .sliderContainer {
        width: 115%;
    }


}

@media only screen and (min-width:1200px) {

    .priceSlider,
    .productTypeButtons, .priceSorter {
        width: 75%;
    }


    .sliderContainer {
        grid-template-columns: 1fr 3fr 1fr;
        width: 130%;
    }

    .shopTopBanner {
        margin-top: 60px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .modalBackground{
        height:40vh;
    }



}

@media only screen and (min-width:1400px) {
    .productTypeButtons, .priceSorter {
        width: 85%;
    }
}